/* # ICONE DO WP-ADMIN-BAR
================================================== */
#wp-admin-bar-wp-logo .ab-icon {background: url("images/icon-admin-menu.png") no-repeat -4px -3px !important; }
#wp-admin-bar-wp-logo:hover .ab-icon {background: url("images/icon-admin-menu.png") no-repeat -4px -31px !important; }

/* # ICONE DO MENU PRINCIPAL
================================================== */
#toplevel_page_configSite .wp-menu-image {
    background: url("images/icon-admin-menu.png") no-repeat 0 -83px !important;
}
#toplevel_page_configSite:hover .wp-menu-image, #toplevel_page_configSite.wp-has-current-submenu .wp-menu-image {
    background-position: 0 -55px !important;
}