/* # VARIABLES
================================================== */
$white: #f3f3f3;
$white-dark: #f5f5f5;
$purple-light: #71498b;
$purple-dark: #603e76;
$gray-light: #494949;
$gray-dark: #363636;
$gold: #bfb063;